$def with (announcement)
$ cta_copy = _('Welcome to Open Library! To finish checking out Placeholder Title:')
$ btn_copy = _('Click here')
$ book_cover_url = 'https://images.penguinrandomhouse.com/cover/9780147514011'

$ announcement = '''
<div style="display: flex; align-items: center; gap: 15px;">
    <img src="%s" alt="Book Cover" style="width: 50px; height: auto;">
    <div>
        <p style="margin: 0;">%s</p>
        <a href="javascript:;" style="background-color: red; color: white; border: none; padding: 8px 12px; border-radius: 5px; text-decoration: none; display: inline-block; margin-top: 5px;">%s</a>
    </div>
</div>
''' % (book_cover_url, cta_copy, btn_copy)

$ cookie_name = 'returnbanner'
$: render_template('site/banner', announcement, cookie_name, cookie_duration_days=365)